* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
}

/*--------------HEADER------------------*/

header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 56px;
  box-shadow: 0px 7px 8px -7px rgba(0, 0, 0, 0.1);
}
.container {
  display: flex;
  align-items: center;
  margin-left: 0.4rem;
  padding-left: 0.4rem;
}

.facebook-logo {
  width: 100%;
  max-width: 48px;
  cursor: pointer;
  margin-right: 0.2em;
}

.search-bar {
  display: flex;
  align-items: center;
  width: max-content;
  background-color: #f0f2f5;
  border-radius: 1.5rem;
  padding-block: 1.5px;
}

.search-bar svg {
  max-width: 15px;
  max-height: 15px;
  margin-left: 0.9em;
  margin-top: 4px;
}

input[type="search"] {
  font-size: 0.9rem;
  flex: 1;
  border-radius: 1.5rem;
  background-color: transparent;
  outline: none;
  border: none;
  padding-block: 0.7rem;
  padding-right: 3.2rem;
  padding-left: 0.5em;
}

/*-------NAV ICON--------*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mid-nav a {
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  padding-block: 10px;
}

.mid-nav a:hover {
  background-color: #f7f8f8;
  border-radius: 0.5em;
}

.active svg {
  fill: #0866ff;
  stroke: white;
}

.active {
  border-bottom: 3px solid #0866ff;
}

.mid-nav a:first-child {
  margin-left: 0;
}

.middle {
  /* flex: 1 1 30%; */
  padding-right: 110px;
  padding-left: 170px;
}

.right-nav {
  margin-left: 135px;
  padding-left: 20px;
  margin-right: 30px;
}

.right-nav .icon {
  max-width: 24px;
}

.icon {
  width: 32px;
  display: block;
}

.profile-image {
  width: 40px;
  height: 40px;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 0.5em;
}

.right-icon-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #e4e6eb;
  border-radius: 50%;
  margin-left: 0.5em;
}

.right-icon-container:hover {
  background-color: #cbcbcbad;
}

/*-------TOOLTIP----------------  */

.tooltip {
  position: relative;
  display: inline-block;
  border: 1px solid black;
}

.tooltip p {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
}

.home-link:hover .home-tooltip {
  visibility: visible;
}
.tv-link:hover .tv-tooltip {
  visibility: visible;
}
.market-link:hover .market-tooltip {
  visibility: visible;
}
.people-link:hover .people-tooltip {
  visibility: visible;
}
.game-link:hover .game-tooltip {
  visibility: visible;
}

/*---------MAIN PART------------*/

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.sidebar-left {
  flex: 1 1;
  min-width: 360px;
}

.main-part {
  display: flex;
  flex: 1 1 1000px;
  justify-content: center;
}

.sidebar-right {
  flex: 1 1;
  min-width: 360px;
}
